*{
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
:root{ 
    --primary-color:#FFB900;
    --font-heading: Sen ,sans-serif;
}
body{
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}
/* common */
.main-content{
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
    max-width: calc(100% - 48px);
}
a{
    text-decoration: none;
}
.btn{
    display: inline-block;
    color: #FFF;
    padding: 0 16px;
    font-size: 1.6rem;
    font-weight: 600;
    border-radius: 999px;
    background: #171100;
    min-width: 118px;
    text-align: center;
    line-height: 50px; /* 175% */
}
.btn:hover{
    opacity:0.9;
}
.heading{
    font-family:--font-heading;
    color: #171100;
    font-weight: 700;
    margin-bottom: 22px;
}
.heading.lv1{
    font-size: 5.8rem;
    line-height: 1.17; 
}
.heading.lv2{
    font-size: 3.8rem;
    line-height: 1.26;
}
.desc{
    color: #5F5B53;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.66667; /* 166.667% */
}
.line-clamp{
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp,2);
    -webkit-box-orient: vertical;
    overflow: hidden;
    overflow-wrap: break-word;
}
.line-clamp.line-clamp-3{
    --line-clamp:3;
}



.header.fixed{
    background: #FFFCF4;
    position: sticky;
    top:-28px;
    z-index:1;
}

.header .body{
    display:flex; 
    align-items: center; 
    padding: 36px 0 8px;
}
.navbar{
    margin-left: auto;
}
.navbar ul{
    display:flex;
}
.navbar a{
    color: #5F5B53;
    font-size: 1.6rem;
    font-weight: 400;
    padding: 8px 21px;
}
.navbar .active{
    position: relative;
}
.navbar .active , .navbar a:hover{
    color: #171100;
    text-shadow: 1px 0 0 currentColor;
}
.navbar .active::after{
    content:"";
    display: flex;
    width: 12px;
    height: 2px;
    border-radius: 1px;
    background: #171100;
    position: absolute;
    bottom:6px;
    left: 21px;
}
.action{
    margin-left: 7rem;
}
.action .signin{
    color: #5F5B53;
    font-size: 1.6rem;
    font-weight: 400;
    margin-right: 1.2rem;
}
.action .signin:hover{
    text-decoration:underline;
}
.btn-signup{
    min-width: 144px;
}

/* hero */
.hero{
    padding: 56px 0 65px;
    background: #FFFCF4;
}

.hero .body{
    display: flex;
}
/* hero left */
.hero .media-block{
    width: 48%;
    position: relative;
}

.hero .media-block .img1{
    width: 470px;
    height: 685px;
    object-fit: cover;
    border-radius: 20px;
}
.hero .hero-summary{
    position: absolute;
    padding: 24px;
    bottom: 48px;
    right: 0;
    width: 270px;
    border-radius: 12px;
    background: #FFF;
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.05);
}
.hero .hero-summary .item{
    display: flex;
    align-items: center;
}
.hero .hero-summary .item + .item{
    margin-top: 22px;
}
.hero .hero-summary .icon{
    width: 48px;
    height: 48px;
    background:#FFF9E8;
    border-radius: 50%;
    display:flex;
    justify-content:center;
    align-items:center;
    margin-right: 16px;
}
.hero-summary .item:nth-child(2) .icon{
    background:#FCEFFF;
}
.hero-summary .item:nth-child(3) .icon{
    background:#EBEAFF;
}
.hero-summary .info .label{
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 26px;
}
.hero-summary .info .title{
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 30px; /* 166.667% */
}
/* hero right */
.hero .content-block{
    width: 52%;
    padding: 64px 0 0 130px;
} 

.cta-group{
    display: flex;
    align-items: center;
    margin: 38px 0 48px;
}
.cta-group .hero-cta{
    line-height: 64px;
    min-width: 180px;
    background-color: var(--primary-color);
    margin-right: 28px;
}
.cta-group .icon{
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background: #FFF;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.07);
    display:flex;
    justify-content:center;
    align-items:center;;
}
.watch-video{
    display: flex;
    align-items: center;
    border:none;
    background:transparent;
    cursor:pointer;
}
.content-block .cta-group span{
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 30px; 
    margin-left: 14px;
}

.stats strong{
    color: #171100;
    padding:0 8px 0 28px;
    font-family: var(--font-heading);
    font-size: 4.4rem;
    font-weight: 700;
    line-height: 54px; 
}
.stats strong:first-child{
    margin-top: 8px;
    margin-left: -28px;
}
/* popular */
.popular{
    padding: 65px 0 ;
    margin-top: 135px;
}
.popular-top{
    display:flex;
    align-items:center;
    justify-content: space-between;
}
.course-list .value{
    color: #FEA31B;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75; /* 175% */
    margin-left: 6px;
}
.popular-top .desc{
    max-width: 458px;
    margin-top: 16px;
}
.controls{
    display: flex;
    gap: 18px;
}

.popular-top .control-btn{
    border:none;  
    width: 40px;
    height: 40px;
    border-radius:999px;
    background:transparent;
    color:var(--primary-color);
    border: 1px solid var(--primary-color);
}
.popular-top .control-btn:hover{
    color:#FFF;
    background:var(--primary-color);
    cursor: pointer;
}

/* item */
.popular .course-list{
    margin-top: 55px;
    display: flex;
    gap:30px;
    
}
.course-item{
    flex:1;
    border-radius: 12px;
    background: #FFF;
    box-shadow: 0 18px 36px 0 rgba(0, 0, 0, 0.05);
    border: 1px solid #E2DFDA;
}

.popular .course-list .thumb{
    width: calc(100% + 2px);
    
    border-radius: 12px 12px 0 0;
    height: 278px;
    object-fit: cover;
    
}
.course-list .info{
    padding: 16px 22px 22px;
}
.course-list .info .head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.course-list .info .rating{
    display: flex;
    align-items: center;
}
.course-list .info .title{
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.666; /* 166.667% */
    margin-top: 6px;
    margin-right: 15px;
}
.course-list .info .desc{
    color: #5F5B53;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.85; /* 185.714% */
}
.course-list .info .foot{
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.course-list .info .price{
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66; /* 166.667% */
}
.course-list .info .btn{
    border:none;
    width: 118px;
}
.course-list .info .btn:hover{
    cursor: pointer;
    background-color:var(--primary-color);
}


/* feedback */
.feedback{
    background: #2E2100;
    margin-top: 135px;
}
.feedback-list{
    display: flex;
    overflow: hidden;
}
.feedback-item{
    padding: 96px 0;
    display: flex;
    flex-shrink: 0;
    width: 100%;
}
.feedback-item .info .avatar{
    width: 72px;
    height: 72px;
    border-radius: 72px;
    object-fit: cover;
    margin-bottom: 18px;
}
.feedback-item .info .title{
    color: #F7F7F7;
    font-family:var(--font-heading);
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.41; /* 141.667% */
    margin-bottom: 4px;
}
.feedback-item .info .desc{
    color: #BFBCB2;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.85; /* 185.714% */
    margin-bottom: 28px;
}
.feedback-item .info .dots{
    display: flex;
}
.feedback-item .dot{
    width: 6px;
    height: 6px;
    background-color:#634700;
    border-radius: 50%;
    margin-right: 6px; 
    cursor: pointer;
}
.feedback-item .dot.active{
    background-color:var(--primary-color);
    cursor: default;
}
.feedback .content{
    width:67%;
    margin-left: auto;
}
.feedback .content blockquote{
    color: #FFF;
    font-size: 2.6rem;
    font-style: italic;
    font-weight: 400;
    line-height: 1.53; /* 153.846% */
    padding-left: 30px;
}

/* features */
.features{
    padding: 100px 0;
    margin-top: 100px;
}
.features .body{
    display: flex;
    justify-content: space-between;
}
.features .images{
    display: flex;
    gap:0 30px;
}
.features .images img{
    width: 270px;
    height: 404px;
    border-radius: 16px;
    object-fit: cover;

}
.features .images .features1{
    margin-top: 34px;
}


.features .content{
    width: 41%;
    display: flex;
    flex-direction:column;
    align-items: start;
    justify-content: center;
    
}
.features .content .heading{
    color: #171100;
    font-family: var(--font-heading);
    font-size: 38px;
    letter-spacing: -0.76px;
    margin-bottom: 16px;
}
.features .content .desc{
    line-height: 1.75; /* 175% */
}
.features .content p.desc:nth-of-type(2) {
    margin-top:16px;
}
.features .content .btn{
    margin-top: 32px;
    min-width: 137px;
    background-color: var(--primary-color);
}

/* features 2 */
.features-2 .body{
    flex-direction: row-reverse;
}
.features-2 .content{
    width: 49%;
}
.features-2 .images img{
    width: 470px;
    height: 440px;
}
.features-2{
    margin-top: 0;
}

/* blog */
.blog{
    padding: 96px 0;
    margin-top: 100px;
    background: #FFFCF4;
}
.blog .blog-top{
    text-align: center;;
}

.blog .blog-top .desc{
    width: 448px;
    margin:16px auto 55px;
    color: #696262;
    font-size: 1.6rem;
    line-height: 1.75; /* 175% */
}
.blog .blog-list{
    display: flex;
    gap:30px;
    overflow:hidden ;
    
}
.blog .item{
    flex-shrink: 0;
    width: calc(33.33% - 20px);
    height: 476px;
    border-radius: 16px;
    background: #FFF;
}
.blog .item:hover{
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.05);
}
.blog .item .thumb{
    width: 100%;
    border-radius: 16px 16px 0 0;
    height: 250px;
    object-fit: cover;
}
.blog .item .info{
    padding: 20px 20px 28px;
}
.blog .item .date{
    color: #5F5B53;
    font-size: 1.4rem;
    line-height: 1.85; /* 185.714% */
    display: flex;
    align-items: center;
    position: relative;
}
.blog .item .date::before{
    content:"";
    display: inline-block;
    width: 6px;
    height: 6px;
    background:var(--primary-color);
    border-radius:999px;
    margin-right: 4px;
}
.blog .item .date::after{
    content:"";
    display:inline-block;
    width: 160px;
    height: 1px;
    border-radius: 0.5px;
    background: #E2DFDA;
    position:absolute;
    bottom:-12px;
    left: 0;
    
}
.blog .info .title{
    margin-top: 35px;
    color: #171100;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75; /* 175% */
}
.blog .info .btn{
    margin-top: 12px;
    font-size: 1.4rem;
}
.blog .info .btn:hover{
    background:var(--primary-color)
}
.blog .dots{
    display: flex;
    justify-content: center;
    margin-top: 38px;
    gap: 6px;
}
.blog .dot{
    width: 6px;
    height: 6px;
    border-radius: 6px;
    background: #5F5B53;
    cursor: pointer;
}
.blog .dot.active{
    background:var(--primary-color);
    cursor: default;
}

/* footer */
.footer{
    padding: 96px 135px 28px;
    background: #2E2100;
}
.footer .row{
    display: flex;
    padding-bottom: 38px;
    border-bottom:1px solid #59554B;
}
.footer .row .column{
    width: 21.6%;
}
.footer .row .column:nth-child(1){
    width: 35%;
}
.footer .row .desc{
    margin-top: 18px;
    font-size: 1.4rem;
    margin-bottom: 18px;
    max-width:267px;
}
.footer .socials{
    display: flex;
    gap:18px;
}
.footer .column .title{
    display:inline-block;
    padding: 0 48px 14px 0;
    color: #FFF;
    font-size: 1.6rem;
    line-height: 1.75; /* 175% */
    border-bottom: 1px solid #59554B;
}
.footer .column .list{
    margin-top: 28px;
}
.footer .column a{
    display:inline-block;
    color: #BFBCB2;
    font-size: 1.4rem;
    line-height: 1.85; /* 185.714% */
    margin-bottom: 12px;
}
.footer .column li:last-of-type a{
    margin-bottom: 0px;
}
.footer .list strong{
    color: #FFF;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.85; /* 185.714% */
}
.footer .copyright .desc{
    color: #807D74;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.85; /* 185.714% */
    margin-top: 28px;
}